{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container-xxl">
    <h1>Страница восстановления пароля</h1>
    <div class="form_box-inner">   
        <div class="form_box-left">
        {% if form_errors(resetForm) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(resetForm) }}
            </div>
        {% endif %}
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Сбросить пароль</button>
        {{ form_end(resetForm) }}
        </div>
    <div>
</div>
{% endblock %}
