{% extends 'base.html.twig' %}

{% block title %}Edit ListReferralNetworks{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %} 
<div class="container-xxl">  
    <h1>Edit ListReferralNetworks</h1>

    {{ include('list_referral_networks/_form.html.twig', {'button_label': 'Обновить'}) }}
{% endif %}
    <a href="{{ path('app_list_referral_networks_index') }}">Назад</a>
{% if is_granted('ROLE_ADMIN') %} 
    {{ include('list_referral_networks/_delete_form.html.twig') }}
</div>
{% endif %}
{% endblock %}
