<form method="post" action="{{ path('app_table_pakage_delete', {'id': table_pakage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ table_pakage.id) }}">
    <button class="btn">Delete</button>
</form>
