{% extends 'base.html.twig' %}

{% block title %}Edit TablePakage{% endblock %}

{% block body %}
<div class="example-wrapper container-xxl">
    <h1>Редактирование пакета</h1>
    {% if is_granted('ROLE_ADMIN') %}   
    {{ include('table_pakage/_form.html.twig', {'button_label': 'Обновить'}) }}
    {% endif %}
    <a class="btn btn-info rounded-0 mb-1" href="{{ path('app_table_pakage_index') }}">Назад</a>
    {% if is_granted('ROLE_ADMIN') %}   
    {{ include('table_pakage/_delete_form.html.twig') }}
    {% endif %}
</div>
{% endblock %}
