{% extends 'base.html.twig' %}

{% block title %}New TablePakage{% endblock %}

{% block body %}
<div class="example-wrapper container-xxl">
    <h1>Создание нового пакета</h1>

    {{ include('table_pakage/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_table_pakage_index') }}">Назад</a>
</div>
{% endblock %}
