{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="container-xl">
    <h1> {{ controller_name }}</h1>
    <div class="card text-white bg-primary mb-5" style="max-width: 23rem;">
        <div class="card-header">Ваш текущий баланс USDT</div>
        <div class="card-body">
            <h5 class="card-title">{{ reward}}</h5>
            <p class="card-text"></p>
        </div>
    </div>
    <div class="card text-white bg-primary mb-5" style="max-width: 23rem;">
        <div class="card-header">Ваш баланс токенов по текущему курсу проекта</div>
        <div class="card-body">
            <h5 class="card-title">{{ token }}</h5>
            <p class="card-text"></p>
        </div>
    </div>
</div>
{% endblock %}
