{% block agree_terms %}
<div id="agree_terms">
   <div class="row container-xxl">    
        <div class="col-sm-3 text-center rounded-0">
            <div class=" ">
            <img src="{{ asset('asset/img/cometa-project-logo.jpg') }}" class="card-img-top rounded-0" alt="..." style="max-width: 300px;">    
            </div>
        </div>
        <div class="col-sm-9">
            <div class="mt-3">
                <div class="card-body  mt-0 header_contacts">
                    <p class="card-title  fst-italic text-secondary mb-5" style="font-size: 30px;">СРОКИ И УСЛОВИЯ</p>
                    <p class="card-title  fst-italic text-secondary mb-5">ЮРИДИЧЕСКИЙ ОТКАЗ ОТ ОТВЕТСТВЕННОСТИ</p>
                    <p class="card-title fw-light fst-italic text-secondary mb-5">
Торговля на мировых финансовых рынках с использованием маржи и кредитного плеча сопряжена с высоким уровнем риска и может подходить не всем инвесторам. 
Прошлые результаты любого клуба Cometa не указывают на будущие результаты. Высокая степень кредитного плеча, предлагаемая брокерами и поставщиками ликвидности, 
может работать как против инвесторов, так и против них. Прежде чем принять решение о торговле средствами на этих Рынках, тщательно обдумайте финансовые цели,
 уровень опыта и порог риска. Все инвестиции на этом рынке следует рассматривать со 100% риском. Из-за риска, связанного с финансовым рынком, рекомендуется 
 консультация независимого финансового консультанта и/или сертифицированного налогового консультанта. Cometa club, его владельцы или сотрудники ни при каких 
 обстоятельствах не несут ответственности за убытки, понесенные при использовании наших услуг. Cometa Club не является зарегистрированным финансовым консультантом 
 или инвестиционной фирмой и не дает финансовых консультаций. Вся информация, передаваемая в видеороликах, вебинарах или подключении к клубу Cometa, предоставляется
  только нашим частным клиентам и предназначена только для образовательных целей и целей управления системами.</p>
<p class="card-title  fst-italic text-secondary mb-5">ПОКУПКА И ОТМЕНА</p>
<p class="card-title fw-light fst-italic text-secondary mb-5">
Я согласен с Условиями и положениями о том, что это окончательная покупка Цифрового продукта, клуба Cometa вместе с сопутствующими учебными материалами и любой платой 
или ежемесячной подпиской. Возврат средств не производится, так как все продажи этого Цифрового продукта являются окончательными. Cometa Club оставляет за собой право отказать,
 отменить или прекратить участие кого-либо по любой причине, в течение любого периода времени и по своему собственному усмотрению. Cometa Club оставляет за собой право вносить
  изменения, повышать и/или изменять цены на эту систему или любую ежемесячную подписку по любой причине, в течение любого периода времени и по своему собственному усмотрению.
  Cometa club оставляет за собой право добавлять и/или убирать свой Цифровой продукт и/или любую ежемесячную подписку по любой причине, в течение любого периода времени и по 
  своему усмотрению. Я согласен с тем, что информация и/или любой контент, полученный прямо или косвенно от Cometa club, считается копией, торговой маркой и не ограничивается 
  их интеллектуальной собственностью, которой не разрешается делиться с лицами, не являющимися членами, на платформах социальных сетей, таких как Facebook, Instagram, Snapchat,
   Twitter и/или, помимо прочего, все, что будет истолковано как выходящее за рамки членства. Кроме того, любое использование Cometa club, услуг, контента, информации и/или,
    помимо прочего, логотипов для продвижения конкурирующих услуг приведет к немедленному прекращению действия и обращению в суд. В случае отмены любой ежемесячной подписки,
     пожалуйста, используйте кнопку отмены в «Личном кабинете» за семь дней до ежемесячного продления.</p>
<p class="card-title  fst-italic text-secondary mb-5" >ПРАВИЛО ГИПОТЕТИЧЕСКИЕ ИЛИ МОДЕЛИРОВАННЫЕ РЕЗУЛЬТАТЫ ПРОИЗВОДИТЕЛЬНОСТИ
 ПРИ ИСПОЛЬЗОВАНИИ ЛЮБОЙ СИСТЕМЫ COMETA CLUB ИМЕЮТ ОПРЕДЕЛЕННЫЕ ОГРАНИЧЕНИЯ.</p>
<p class="card-title fw-light fst-italic text-secondary mb-5">      
 В отличие от РЕАЛЬНЫХ ПОКАЗАТЕЛЕЙ, МОДЕЛИРОВАННЫЕ РЕЗУЛЬТАТЫ НЕ ПРЕДСТАВЛЯЮТ РЕАЛЬНУЮ ТОРГОВЛЮ. ТАКЖЕ, ПОСКОЛЬКУ СДЕЛКИ НЕ БЫЛИ ОСУЩЕСТВЛЕНЫ, РЕЗУЛЬТАТЫ МОГУТ БЫТЬ НЕДОСТАТОЧНЫМИ ИЛИ ИЗБЫТОЧНЫМИ КОМПЕНСАЦИЯМИ ВОЗДЕЙСТВИЯ ОПРЕДЕЛЕННЫХ РЫНОЧНЫХ ФАКТОРОВ, НАПРИМЕР ОТСУТСТВИЯ ЛИКВИДНОСТИ. СИМУЛЯЦИОННЫЕ ТОРГОВЫЕ ПРОГРАММЫ В ЦЕЛОМ ТАКЖЕ УЧАСТВУЮТ В ОБЛАСТИ ТОГО, ЧТО ОНИ РАЗРАБОТАНЫ С ПОМОЩЬЮ ЗАДНЕГО ЗНАНИЯ. НЕ ПРЕДСТАВЛЯЕТСЯ, ЧТО КАКОЙ-ЛИБО СЧЕТ БУДЕТ ИЛИ МОЖЕТ ПОЛУЧИТЬ ПРИБЫЛЬ ИЛИ УБЫТКИ, ПОДОБНЫЕ УКАЗАННЫМ.
​КОНФИДЕНЦИАЛЬНОСТЬ И БЕЗОПАСНОСТЬ​
Защита вашей личной информации является нашим приоритетом. Это Положение о конфиденциальности применяется к НАЗВАНИЮ ВЕБ-САЙТА и Систем Cometa Club и регулирует сбор и использование
 данных. Для целей настоящей Политики конфиденциальности, если не указано иное, все ссылки на систему Cometa club включают НАЗВАНИЕ ВЕБ-САЙТА и Cometa club. 
 Веб-сайт Cometa Club — это сайт электронной коммерции и образования. Используя веб-сайт Cometa club, вы соглашаетесь с методами работы с данными, описанными в этом заявлении.</p>
 <p class="card-title fw-light fst-italic text-secondary mb-5">   Администрация </p>        
            </div>
        </div>
    </div>  
</div>
{% endblock %}