<form method="post" action="{{ path('app_transaction_table_delete', {'id': transaction_table.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transaction_table.id) }}">
    <button class="btn">Delete</button>
</form>
