{% extends 'base.html.twig' %}

{% block title %}New Pakege choice{% endblock %}

{% block body %}
<div class="container-xxl">
    <h1>Новый пакет</h1>

    
    <a class="btn btn-secondary" href="{{ path('app_pakege_index') }}">назад</a>
    
</div>
{% endblock %}
