{% extends 'base.html.twig' %}

{% block title %}New Pakege choice{% endblock %}

{% block body %}
    <h1>Create new Pakege choice</h1>

    
    <a href="{{ path('app_pakege_index') }}">back to list</a>
    <a href="{{ path('app_pakege_index') }}">back to list</a>
{% endblock %}
